## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [82]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [83]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)

print(sample_list_1)

[46, 48, 13, 80, 12, 62, 18, 71, 74, 40, 57, 8, 83, 60, 61, 3, 4, 29, 16, 31, 88, 0, 69, 47, 23, 90, 15, 73, 30, 82, 85, 19, 99, 1, 10, 36, 58, 27, 51, 76, 35, 53, 17, 37, 86, 44, 49, 96, 98, 9, 50, 6, 33, 5, 59, 24, 14, 94, 22, 64, 78, 63, 25, 92, 20, 43, 68, 45, 7, 84, 91, 65, 93, 72, 32, 79, 54, 56, 67, 77]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [84]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [85]:
# Your code here

    
sample_list_2 = [random.randint(0, 80) for x in range(1, 101)]
print(sample_list_2)

[75, 26, 69, 74, 14, 37, 4, 63, 53, 2, 64, 58, 57, 64, 74, 55, 28, 43, 26, 11, 49, 46, 46, 47, 36, 68, 50, 70, 53, 37, 5, 45, 67, 58, 7, 55, 77, 63, 65, 48, 69, 18, 17, 3, 9, 57, 64, 3, 12, 28, 31, 10, 13, 70, 1, 53, 60, 33, 13, 54, 4, 63, 17, 31, 51, 38, 60, 14, 6, 55, 61, 62, 49, 60, 2, 52, 63, 66, 38, 67, 5, 26, 27, 27, 60, 34, 29, 44, 14, 59, 11, 1, 41, 56, 40, 11, 65, 22, 66, 68]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [86]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [87]:
# Your code here
set3 = set1 - set2

print(set3)

{0, 8, 15, 16, 19, 20, 23, 24, 25, 30, 32, 35, 71, 72, 73, 76, 78, 79, 80, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [88]:
# Your code here
set4 = set2 - set1

print(set4)

{2, 34, 66, 38, 70, 41, 11, 75, 52, 55, 26, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [89]:
# Your code here
set5 = set1.intersection(set2)

print(set5)

{1, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 17, 18, 22, 27, 29, 31, 33, 36, 37, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 74, 77}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [90]:
# Your code here
len(set1) == len(set2)

len(set1) >= len(set3)

print("set 1 has a length of", len(set1))
print("set 2 has a length of", len(set2))
print("set 3 has a length of", len(set3))
print("set 4 has a length of", len(set4))
print("set 4 has a length of", len(set5))

set 1 has a length of 80
set 2 has a length of 59
set 3 has a length of 33
set 4 has a length of 12
set 4 has a length of 47

#### Create an empty set called `set6`.

In [91]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [92]:
# Your code here
set6 = set3.union(set5)
print(set6)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 29, 30, 31, 32, 33, 35, 36, 37, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [93]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [94]:
# Your code here
set7 = set1.issubset(set2)
print(set7)

set8 = set1.issubset(set3)

print(set8)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [95]:
# Your code here
set3.union(set4).union(set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [96]:
# Your code here
print("Removed element:",set1.pop())

Removed element: 0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [97]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

set9 = set1 - set_to_remove

print(set9)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 30, 32, 33, 35, 36, 37, 40, 43, 44, 45, 46, 47, 48, 50, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 96, 98}