# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries
import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [2]:
# Your code here:
google_play = pd.read_csv("../../data/googleplaystore.csv")

#### Examine all variables and their types in the following cell

In [3]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [4]:
# Your code here:
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [5]:
# Your code here:
#google_play['Reviews_numeric'] = pd.to_numeric(google_play['Reviews'])

google_play['Reviews_numeric'] = google_play['Reviews'].apply(pd.to_numeric, errors="coerce")
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
App                10841 non-null object
Category           10841 non-null object
Rating             9367 non-null float64
Reviews            10841 non-null object
Size               10841 non-null object
Installs           10841 non-null object
Type               10840 non-null object
Price              10841 non-null object
Content Rating     10840 non-null object
Genres             10841 non-null object
Last Updated       10841 non-null object
Current Ver        10833 non-null object
Android Ver        10838 non-null object
Reviews_numeric    10840 non-null float64
dtypes: float64(2), object(12)
memory usage: 1.2+ MB

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [6]:
# Your code here:
google_play['Reviews_isnull'] = google_play['Reviews_numeric'].isnull()
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,159.0,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,967.0,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,87510.0,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,215644.0,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,967.0,False

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](../images/reviews-bool.png)

In [7]:
# Your code here:
google_play2 = google_play[(google_play['Reviews_isnull'] == True)]
google_play2

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [8]:
# Your code here

def convert_string_to_numeric(x):
    if 'M' in x:
        p= float(x.replace('M', '')) * 1000000
    elif 'k' in x:    
        p= float(x.replace('k', '')) * 1000
    else:
        p=x
    
    
   
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
    """
    return p

test_string = '4.0M'

convert_string_to_numeric(test_string)

4000000.0

The last step is to apply the function to the `Reviews` column in the following cell:

In [9]:
# Your code here:
google_play["Reviews"] = google_play["Reviews"].apply(convert_string_to_numeric)

In [10]:
#google_play['Reviews'] = google_play['Reviews'].apply(lambda x: float(x.replace('M', '')) * 1000000 if 'M' in x else x)

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](../images/reviews-bool-fixed.png)

In [11]:
# Your code here
google_play3 = google_play[(google_play['Reviews_isnull'] == True)]
google_play3

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3e+06,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [12]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 15 columns):
App                10841 non-null object
Category           10841 non-null object
Rating             9367 non-null float64
Reviews            10841 non-null object
Size               10841 non-null object
Installs           10841 non-null object
Type               10840 non-null object
Price              10841 non-null object
Content Rating     10840 non-null object
Genres             10841 non-null object
Last Updated       10841 non-null object
Current Ver        10833 non-null object
Android Ver        10838 non-null object
Reviews_numeric    10840 non-null float64
Reviews_isnull     10841 non-null bool
dtypes: bool(1), float64(2), object(12)
memory usage: 1.2+ MB

In [13]:
google_play['Reviews'] = google_play['Reviews'].astype('float64')

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [14]:
# Your code here:
google_play["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [15]:
# Your code here:
google_play["Size"] = google_play["Size"].apply(convert_string_to_numeric)

In [16]:
google_play["Size"].unique()

array([19000000.0, 14000000.0, 8700000.0, 25000000.0, 2800000.0,
       5600000.0, 29000000.0, 33000000.0, 3100000.0, 28000000.0,
       12000000.0, 20000000.0, 21000000.0, 37000000.0, 2700000.0,
       5500000.0, 17000000.0, 39000000.0, 31000000.0, 4200000.0,
       7000000.0, 23000000.0, 6000000.0, 6100000.0, 4600000.0, 9200000.0,
       5200000.0, 11000000.0, 24000000.0, 'Varies with device', 9400000.0,
       15000000.0, 10000000.0, 1200000.0, 26000000.0, 8000000.0,
       7900000.0, 56000000.0, 57000000.0, 35000000.0, 54000000.0,
       201000.0, 3600000.0, 5700000.0, 8600000.0, 2400000.0, 27000000.0,
       2500000.0, 16000000.0, 3400000.0, 8900000.0, 3900000.0, 2900000.0,
       38000000.0, 32000000.0, 5400000.0, 18000000.0, 1100000.0,
       2200000.0, 4500000.0, 9800000.0, 52000000.0, 9000000.0, 6700000.0,
       30000000.0, 2600000.0, 7100000.0, 3700000.0, 22000000.0, 7400000.0,
       6400000.0, 3200000.0, 8199999.999999999, 9900000.0, 4900000.0,
       9500000.0, 5000000.0, 5900000.0, 13000000.0, 73000000.0, 6800000.0,
       3500000.0, 4000000.0, 2300000.0, 7200000.0, 2100000.0, 42000000.0,
       7300000.0, 9100000.0, 55000000.0, 23000.0, 6500000.0, 1500000.0,
       7500000.0, 51000000.0, 41000000.0, 48000000.0, 8500000.0,
       46000000.0, 8300000.000000001, 4300000.0, 4700000.0, 3300000.0,
       40000000.0, 7800000.0, 8800000.0, 6600000.0, 5100000.0, 61000000.0,
       66000000.0, 79000.0, 8400000.0, 118000.0, 44000000.0, 695000.0,
       1600000.0, 6200000.0, 18000.0, 53000000.0, 1400000.0, 3000000.0,
       5800000.0, 3800000.0, 9600000.0, 45000000.0, 63000000.0,
       49000000.0, 77000000.0, 4400000.0, 4800000.0, 70000000.0,
       6900000.0, 9300000.0, 8100000.0, 36000000.0, 84000000.0,
       97000000.0, 2000000.0, 1900000.0, 1800000.0, 5300000.0, 47000000.0,
       556000.0, 526000.0, 76000000.0, 7600000.0, 59000000.0, 9700000.0,
       78000000.0, 72000000.0, 43000000.0, 7700000.0, 6300000.0, 334000.0,
       34000000.0, 93000000.0, 65000000.0, 79000000.0, 100000000.0,
       58000000.0, 50000000.0, 68000000.0, 64000000.0, 67000000.0,
       60000000.0, 94000000.0, 232000.0, 99000000.0, 624000.0, 95000000.0,
       8500.0, 41000.0, 292000.0, 11000.0, 80000000.0, 1700000.0,
       74000000.0, 62000000.0, 69000000.0, 75000000.0, 98000000.0,
       85000000.0, 82000000.0, 96000000.0, 87000000.0, 71000000.0,
       86000000.0, 91000000.0, 81000000.0, 92000000.0, 83000000.0,
       88000000.0, 704000.0, 862000.0, 899000.0, 378000.0, 266000.0,
       375000.0, 1300000.0, 975000.0, 980000.0, 4099999.9999999995,
       89000000.0, 696000.0, 544000.0, 525000.0, 920000.0, 779000.0,
       853000.0, 720000.0, 713000.0, 772000.0, 318000.0, 58000.0,
       241000.0, 196000.0, 857000.0, 51000.0, 953000.0, 865000.0,
       251000.0, 930000.0, 540000.0, 313000.0, 746000.0, 203000.0,
       26000.0, 314000.0, 239000.0, 371000.0, 220000.0, 730000.0,
       756000.0, 91000.0, 293000.0, 17000.0, 74000.0, 14000.0, 317000.0,
       78000.0, 924000.0, 902000.0, 818000.0, 81000.0, 939000.0, 169000.0,
       45000.0, 475000.0, 965000.0, 90000000.0, 545000.0, 61000.0,
       283000.0, 655000.0, 714000.0, 93000.0, 872000.0, 121000.0,
       322000.0, 1000000.0, 976000.0, 172000.0, 238000.0, 549000.0,
       206000.0, 954000.0, 444000.0, 717000.0, 210000.0, 609000.0,
       308000.0, 705000.0, 306000.0, 904000.0, 473000.0, 175000.0,
       350000.0, 383000.0, 454000.0, 421000.0, 70000.0, 812000.0,
       442000.0, 842000.0, 417000.0, 412000.0, 459000.0, 478000.0,
       335000.0, 782000.0, 721000.0, 430000.0, 429000.0, 192000.0,
       200000.0, 460000.0, 728000.0, 496000.0, 816000.0, 414000.0,
       506000.0, 887000.0, 613000.0, 243000.0, 569000.0, 778000.0,
       683000.0, 592000.0, 319000.0, 186000.0, 840000.0, 647000.0,
       191000.0, 373000.0, 437000.0, 598000.0, 716000.0, 585000.0,
       982000.0, 222000.0, 219000.0, 55000.0, 948000.0, 323000.0,
       691000.0, 511000.0, 951000.0, 963000.0, 25000.0, 554000.0,
       351000.0, 27000.0, 82000.0, 208000.0, 913000.0, 514000.0, 551000.0,
       29000.0, 103000.0, 898000.0, 743000.0, 116000.0, 153000.0,
       209000.0, 353000.0, 499000.0, 173000.0, 597000.0, 809000.0,
       122000.0, 411000.0, 400000.0, 801000.0, 787000.0, 237000.0,
       50000.0, 643000.0, 986000.0, 97000.0, 516000.0, 837000.0, 780000.0,
       961000.0, 269000.0, 20000.0, 498000.0, 600000.0, 749000.0,
       642000.0, 881000.0, 72000.0, 656000.0, 601000.0, 221000.0,
       228000.0, 108000.0, 940000.0, 176000.0, 33000.0, 663000.0, 34000.0,
       942000.0, 259000.0, 164000.0, 458000.0, 245000.0, 629000.0,
       28000.0, 288000.0, 775000.0, 785000.0, 636000.0, 916000.0,
       994000.0, 309000.0, 485000.0, 914000.0, 903000.0, 608000.0,
       500000.0, 54000.0, 562000.0, 847000.0, 957000.0, 688000.0,
       811000.0, 270000.0, 48000.0, 329000.0, 523000.0, 921000.0,
       874000.0, 981000.0, 784000.0, 280000.0, 24000.0, 518000.0,
       754000.0, 892000.0, 154000.0, 860000.0, 364000.0, 387000.0,
       626000.0, 161000.0, 879000.0, 39000.0, 970000.0, 170000.0,
       141000.0, 160000.0, 144000.0, 143000.0, 190000.0, 376000.0,
       193000.0, 246000.0, 73000.0, 658000.0, 992000.0, 253000.0,
       420000.0, 404000.0, '1,000+', 470000.0, 226000.0, 240000.0,
       89000.0, 234000.0, 257000.0, 861000.0, 467000.0, 157000.0, 44000.0,
       676000.0, 67000.0, 552000.0, 885000.0, 1020000.0, 582000.0,
       619000.0], dtype=object)

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [17]:
# Your code here:
google_play.drop('Size', axis=1, inplace=True)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [18]:
# Your code here:
null_cols = google_play.isnull().sum()
null_cols[null_cols > 0]

Rating             1474
Type                  1
Content Rating        1
Current Ver           8
Android Ver           3
Reviews_numeric       1
dtype: int64

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [19]:
# Your code here:
null_data = google_play[google_play.isnull().any(axis=1)]
len(null_data.index)/len(google_play.index)

0.13661101374411955

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [20]:
# Your code here:
google_missing_removed = google_play.dropna()

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [21]:
# Your code here:
google_missing_removed["Last Updated"]= pd.to_datetime(google_missing_removed["Last Updated"], format="%B %d, %Y")

/Users/alessandro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
google_missing_removed

,App,Category,Rating,Reviews,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,159.0,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,967.0,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,87510.0,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,215644.0,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,967.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7.0,500+,Free,0,Everyone,Education,2017-06-18,1.0.0,4.1 and up,7.0,False
10836,Sya9a Maroc - FR,FAMILY,4.5,38.0,"5,000+",Free,0,Everyone,Education,2017-07-25,1.48,4.1 and up,38.0,False
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4.0,100+,Free,0,Everyone,Education,2018-07-06,1.0,4.1 and up,4.0,False
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114.0,"1,000+",Free,0,Mature 17+,Books & Reference,2015-01-19,Varies with device,Varies with device,114.0,False
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,"10,000,000+",Free,0,Everyone,Lifestyle,2018-07-25,Varies with device,Varies with device,398307.0,False

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [23]:
# Your code here:
google_missing_removed["Price"].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price_Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [24]:
# Your code here:
google_missing_removed["Price_Numerical"] = google_missing_removed["Price"].str.replace("$", "")

/Users/alessandro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### Second step, coerce the `Price Numerical` column to numeric.

In [25]:
# Your code here:
google_missing_removed["Price_Numerical"] = google_missing_removed["Price_Numerical"].apply(pd.to_numeric)

/Users/alessandro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

**Finally, drop the original `Price` column.**

In [26]:
# Your code here:
google_missing_removed.drop('Price', axis=1, inplace=True)

/Users/alessandro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [27]:
# Your code here
google_missing_removed.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull,Price_Numerical
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,159.0,False,0.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,967.0,False,0.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,87510.0,False,0.0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,215644.0,False,0.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,967.0,False,0.0

In [28]:
google_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 14 columns):
App                9360 non-null object
Category           9360 non-null object
Rating             9360 non-null float64
Reviews            9360 non-null float64
Installs           9360 non-null object
Type               9360 non-null object
Content Rating     9360 non-null object
Genres             9360 non-null object
Last Updated       9360 non-null datetime64[ns]
Current Ver        9360 non-null object
Android Ver        9360 non-null object
Reviews_numeric    9360 non-null float64
Reviews_isnull     9360 non-null bool
Price_Numerical    9360 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(4), object(8)
memory usage: 1.0+ MB

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [29]:
# Your code here:
google_reviews = pd.read_csv("../../data/googleplaystore_user_reviews.csv")

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [30]:
# Your code here
google_reviews

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [34]:
null_cols = google_reviews.isnull().sum()
null_cols[null_cols > 0]

Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [35]:
# Your code here:
review_missing_removed = google_reviews.dropna()

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [36]:
# Your code here:
review_missing_removed["App"].value_counts()

Bowmasters                                            312
Helix Jump                                            273
Angry Birds Classic                                   273
Calorie Counter - MyFitnessPal                        254
Duolingo: Learn Languages Free                        240
                                                     ...
Drawing for Kids Learning Games for Toddlers age 3      1
Apartment Decorating Ideas                              1
Draw A Stickman                                         1
All-in-One Mahjong 3 FREE                               1
Calculator - unit converter                             1
Name: App, Length: 865, dtype: int64

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [37]:
# Your code below

def positive_function(x):
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """
    #z = x.str.contains("Positive").sum()

    return len(x[x=='Positive'])

In [38]:
positive_function(review_missing_removed["Sentiment"])

23998

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](../images/positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [39]:
# Your code here:
google_agg = review_missing_removed.groupby('App')['Sentiment'].agg([positive_function, 'count']).reset_index()

Print the first 5 rows of `google_agg` to check it.

In [40]:
# Your code here
google_agg.head()

                                App  positive_function  count
0             10 Best Foods for You                162    194
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室                 31     40
2                              11st                 23     39
3        1800 Contacts - Lens Store                 64     80
4   1LINE – One Line with One Touch                 27     38

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [46]:
# Your code here:
google_agg["positive_ratio"]= np.where(google_agg["count"] > 0, google_agg["positive_function"]/google_agg["count"], 0)

KeyError: 'count'

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [42]:
# Your code here:
google_agg.drop("positive_function", axis=1, inplace=True)
google_agg.drop("count", axis=1, inplace=True)

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](../images/positive-review-ratio.png)

In [43]:
# Your code here:
google_agg.head()

                                App  positive_ratio
0             10 Best Foods for You        0.835052
1  104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        0.775000
2                              11st        0.589744
3        1800 Contacts - Lens Store        0.800000
4   1LINE – One Line with One Touch        0.710526

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [44]:
# Your code here:
google_missing_removed = google_missing_removed.join(google_agg.set_index('App'), on ='App')

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](../images/google-final-head.png)

In [45]:
# Your code here:
google_missing_removed.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull,Price_Numerical,positive_ratio
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,159.0,False,0.0,NaN
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,967.0,False,0.0,0.590909
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,87510.0,False,0.0,NaN
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,215644.0,False,0.0,NaN
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,967.0,False,0.0,NaN